<ul class="nav navbar-nav navbar-left">
	<li class="navbar-text">
		Aufbauschritte:
	</li>
	<li>
		<div class="btn-group" role="group">
			<button type="button" class="step-rel btn btn-info navbar-btn" data-step="-1">&lt;</button>
			<div class="btn-group dropup" role="group">
				<button type="button" class="btn btn-info navbar-btn dropdown-toggle{{#cmp auto "0"}}{{else}} active{{/cmp}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Automatisch <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li class="{{#cmp auto "0"}}active{{/cmp}}"><a class="step-auto" data-val="0">aus</a></li>
					<li class="{{#cmp auto "1"}}active{{/cmp}}"><a class="step-auto" data-val="1">1 Sekunde</a></li>
					<li class="{{#cmp auto "2"}}active{{/cmp}}"><a class="step-auto" data-val="2">2 Sekunden</a></li>
					<li class="{{#cmp auto "5"}}active{{/cmp}}"><a class="step-auto" data-val="5">5 Sekunden</a></li>
					<li class="{{#cmp auto "10"}}active{{/cmp}}"><a class="step-auto" data-val="10">10 Sekunden</a></li>
				</ul>
			</div>
			<div class="btn-group dropup" role="group">
				<button type="button" class="btn btn-info navbar-btn dropdown-toggle{{#cmp auto "0"}} active{{/cmp}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Schritt <span id="stepNo">{{stepName}}</span> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu steps">
					{{#each steps}}
						<li class="step-{{i}}{{#cmp ../step i}} active{{/cmp}}"><a class="step-abs" data-step="{{i}}">{{ name }}</a></li>
					{{/each}}
				</ul>
			</div>
			<button type="button" class="step-rel btn btn-info navbar-btn" data-step="1">&gt;</button>
		</div>
	</li>
	<li class="navbar-text">
		Ansicht / Rotation:
	</li>
	<li>
		<div class="btn-group" role="group">
			<button type="button" class="rot-incr btn btn-info navbar-btn" data-incr="-.25">-</button>
			<div class="btn-group dropup" role="group">
				<button type="button" class="btn btn-info navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Modus <span id="rotMode">{{rotMode}}</span> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu rots">
					<li class="rot-0 {{#cmp rate "0"}}active{{/cmp}}"><a class="rot-setp" data-setp="0">Manuell</a></li>
					<li class="rot-1 {{#cmp rate "1"}}active{{/cmp}}"><a class="rot-setp" data-setp="1">1 U/min</a></li>
					<li class="rot-2 {{#cmp rate "2"}}active{{/cmp}}"><a class="rot-setp" data-setp="2">2 U/min</a></li>
					<li class="rot-3 {{#cmp rate "3"}}active{{/cmp}}"><a class="rot-setp" data-setp="3">3 U/min</a></li>
					<li class="rot-5 {{#cmp rate "5"}}active{{/cmp}}"><a class="rot-setp" data-setp="5">5 U/min</a></li>
				</ul>
			</div>
			<button type="button" class="btn btn-info navbar-btn rot-reset">Reset</button>
			<button type="button" class="rot-incr btn btn-info navbar-btn" data-incr=".25">+</button>
		</div>
	</li>
</ul>
